# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/logs
/public/blog/(posts)/license
/public/blog/(posts)/license1
/public/blog/(posts)/license2
/public/blog/(posts)/license3
/public/blog/(posts)/license4
/public/blog/(posts)/license5
/public/blog/(posts)/license6
/public/blog/(posts)/license7
/public/blog/(posts)/license8
/public/blog/(posts)/license9
/public/blog/(posts)/license10
/src/app/blog/(posts)/license
/src/app/blog/(posts)/license1
/src/app/blog/(posts)/license2
/src/app/blog/(posts)/license3
/src/app/blog/(posts)/license4
/src/app/blog/(posts)/license5
/src/app/blog/(posts)/license6
/src/app/blog/(posts)/license7
/src/app/blog/(posts)/license8
/src/app/blog/(posts)/license9
/src/app/blog/(posts)/license10
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
